In [2]:
import pandas as pd
df=pd.read_csv('/content/SpuramData - Sheet1.csv')
df

    area
0   1000
1   1800
2   2000
3   2400
4   3000
5   3700
6   4600
7   4900
8   5300
9   6000
10  6800
11  7400
12  8000
13  8300

#activate the ML model

In [1]:
import pickle
with open('/content/SundrapuramDatamodel','rb')as f:
  reg=pickle.load(f)

#predict the data

In [3]:
reg.predict([[2500]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[4980701.75438596]])

In [4]:
pricedf=reg.predict(df)

In [5]:
df['price']=pricedf

In [6]:
df.to_csv('clientoutput.csv',index=False)