In [2]:
import pandas as pd 
df=pd.read_csv('sundrapuramhousing - Sheet1.csv')
df

   area   bedroom  age     price
0   2200      3.0   20   8400000
1   2600      2.0   15  13000000
2   3000      4.0   14  15000000
3   3200      NaN   25  12000000
4   3600      3.0   10  19000000
5   4000      5.0    8  22000000

In [6]:
import math
bedroommedian=math.floor(df['bedroom'].median())
bedroommedian

3

In [7]:
df['bedroom']=df['bedroom'].fillna(bedroommedian)
df

   area   bedroom  age     price
0   2200      3.0   20   8400000
1   2600      2.0   15  13000000
2   3000      4.0   14  15000000
3   3200      3.0   25  12000000
4   3600      3.0   10  19000000
5   4000      5.0    8  22000000

In [14]:
import matplotlib.pyplot as plt

In [17]:
#prepare X and y

In [19]:
X=df.drop('price',axis=1)
y=df['price']

In [20]:
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(X,y)

LinearRegression()

In [21]:
reg.predict([[2800,3,5]])

array([17162216.11618895])

In [22]:
ytest=reg.predict(X)
ytest

array([ 8729036.85783137, 12637389.75094305, 14817752.00070491,
       11938087.49429233, 19367915.02110877, 21909818.87511957])

In [23]:
reg.score(X,y)

0.9965407980560912

In [24]:
#UNDERSTANDING THE ML

In [26]:
m=reg.coef_
b=reg.intercept_
m

array([   5016.75865771,  -93941.40878468, -361541.60424894])

In [27]:
m1=5016.75865771
m2=-93941.40878468
m3=-361541.60424894

In [28]:
b

5204824.12221181

In [29]:
y=(m1*2800)+(m2*3)+(m3*5)+b
y

17162216.11620107

In [ ]:
#DOWNLOADING ML MODEL USING PICKLE

In [30]:
import pickle
with open('sundrapuramhousingmodel','wb') as f:
    pickle.dump(reg,f)