In [ ]:
#uploading the client file and model

In [ ]:
#client file analysis

In [1]:
import pandas as pd
df=pd.read_csv('pro_2_client_file.csv')
df

   area  bedroom  age
0  2600        4    9
1  3000        4    5
2  3500        2    6
3  4000        3    8
4  3000        2    6
5  3900        5   11
6  4600        3    2
7  5000        2    7
8  5400        4    3

In [ ]:
#ACTIVATING ML MODEL

In [4]:
import pickle
with open('sundrapuramhousingmodel','rb')as f:
    reg=pickle.load(f)

In [5]:
reg.predict([[2800,3,5]])

array([17162216.11618895])

In [6]:
price_client=reg.predict(df)
df['price']=price_client
df

   area  bedroom  age         price
0  2600        4    9  1.461876e+07
1  3000        4    5  1.807163e+07
2  3500        2    6  2.040635e+07
3  4000        3    8  2.209770e+07
4  3000        2    6  1.789797e+07
5  3900        5   11  2.032352e+07
6  4600        3    2  2.727701e+07
7  5000        2    7  2.756994e+07
8  5400        4    3  3.083493e+07

In [11]:
df.to_csv('sundrapuramclientoutput2.csv',index=False)